body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #fdf6e3;
    color: #002b36;
    transition: all 0.5s ease;
}

header {
    background-color: #268bd2;
    color: #fdf6e3;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

#content {
    margin: 40px;
    padding: 40px;
    background-color: #fdf6e3;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

#workList, #linkList {
    list-style: none;
    padding: 0;
}

#workList li, #linkList li {
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

a {
    color: #268bd2;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    color: #2aa198;
}

body.darkmode {
    background-color: #002b36;
    color: #fdf6e3;
    transition: all 0.5s ease;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
